body{
    background-color: #FF2F1C;
}

.weekOne,
.weekOneHeader{
    background-color: #FFC929;
}

.weekTwo,
.weekTwoHeader{
    background-color: #5C7AFF;
    color: white;
}

.weekThree,
.weekThreeHeader{
    background-color: #14B358;
    color: white;
}

.weekFour,
.weekFourHeader{
    background-color: #FF2F1C;
    color: white;
}

.yes{
    background-color: #14B358;
}

.NA{
    background-color: transparent;
    color: #FFC929;
}

.no{
    background-color: #FFC929
}

.navbar{
    background-color: transparent;
    color: white;
}

.nav-link{
    color: white;
}

.LLButtons,
#logbutton{
    background-color:   #0260CC;
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
}

.buttonRow{
    margin-top: 20px;
}

#myModal{
    color:#444C59;
}



.logID,
.weekButton,
.logOne,
.logTwo{
    background-color:  #FF0FBB;
    color: white;
    margin: 5px;
    border-color: #A7FF4F;  
}

.logID:not(:disabled):not(.disabled).active,
.logID:not(:disabled):not(.disabled):active,
.weekButton:not(:disabled):not(.disabled).active,
.weekButton:not(:disabled):not(.disabled):active,
.logOne:not(:disabled):not(.disabled).active,
.logOne:not(:disabled):not(.disabled):active,
.logTwo:not(:disabled):not(.disabled).active,
.logTwo:not(:disabled):not(.disabled):active{
    background-color: #A7FF4F;
}

h1{
    margin: 20px 0 30px 0;
    color: #400C07;
}

h4{
    margin: 5px 0 0 5px;
}